*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so
cache
.env.sh
repositories
DeepFloyd

__pycache__/
output/
outputs/
out/
temp/
tmp/
tmp*
.vscode/
checkpoints/
dev/
.dev/

data/coco/
/testing
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
lightning_logs/
/work_dirs
.history
*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/coco/
/testing
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
*.ipynb
lightning_logs/
/work_dirs
.history
*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/*
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
/models
mqbench
hmodel
model_zoo
*.log
build/
dist/
*.ipynb
lightning_logs/
/work_dirs
plot/
.history
*.npz
*.pb
final_dataset_construct.py
evaluator.py
dit_fast_attention_cfg_ablation.py
evaluation_cfg_ablation.py
run_dit_cfg_ablation.py
/model
model/*
sd3_generation_flex.py
sd3_generation_fora.py
sd3_generation_residual.py
sample_video.py
/kernel_test
kernel_test/*
/ckpts
ckpts/*
ditfastattn_api/full_window_attn_with_window_residual.py
experiements/dit.sh
experiements/flux_ablation_wo_output_share.sh
experiements/pixart_1k.sh
experiements/pixart_2k.sh
/ongoing
ongoing/*
*.txt

/flex_kernel_generation
flex_kernel_generation/*
iop_test.py
/webdemo
webdemo/*
/hyvideo
hyvideo/*